[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/florian/Desktop/MDLab]
row=0
col=0

[/home/florian/Desktop/Documentation Navigator.desktop]
row=1
col=0

[/home/florian/Desktop/Vivado HLS 2016.4.desktop]
row=2
col=0

[/home/florian/Desktop/Vivado 2016.4.desktop]
row=3
col=0

