[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/florian/Desktop/vhdl]
row=0
col=1

[/home/florian/Desktop/Documentation Navigator.desktop]
row=1
col=0

[/home/florian/Desktop/MV Laborbericht]
row=5
col=0

[/home/florian/Desktop/Vivado HLS 2016.4.desktop]
row=2
col=0

[/home/florian/Desktop/DES]
row=13
col=0

[/home/florian/Desktop/link]
row=7
col=0

[/home/florian/Desktop/Vivado 2016.4.desktop]
row=3
col=0

[/home/florian/Desktop/SS2017_Einteilung_Dreiergruppen_0.pdf]
row=4
col=0

[/home/florian/Desktop/semiconductor project.pdf]
row=12
col=0

[/home/florian/Desktop/HF5.odt]
row=9
col=0

[/home/florian/Desktop/javascript]
row=10
col=0

[/home/florian/Desktop/semiconductor project.odt]
row=11
col=0

[/home/florian/Desktop/LTspice IV.lnk]
row=17
col=0

[/home/florian/Desktop/MDLab]
row=0
col=0

[/home/florian/Desktop/New File]
row=6
col=0

[/home/florian/Desktop/ustat2_1804885850.pdf]
row=15
col=0

[/home/florian/Desktop/LTspice IV.desktop]
row=16
col=0

[/home/florian/Desktop/links]
row=8
col=0

[/home/florian/Desktop/Studienbestätigung_Sommersemester.pdf]
row=14
col=0

